{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
    <head>

    <meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="Kovco Lab data v8 app.">
		<meta name="keywords" content="api, kovco lab, documentation, ios app, android app">
		<title>data-v8 api | Kovco Laboratories</title>

		<link rel="icon" href="{% static 'assets/img/favicons/favicon16x16.png' %}" type="image/x-icon">

  	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  	<script src="{% static 'assets/js/modernizr.js' %}"></script>
    </head>
    <body class="">
      <div class="page js-page ">
        <!-- Header -->
        <div class="header header-over large">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-3 col-sm-6 col-xs-6">
        				<!-- Logo Image -->
        				<a href="#" class="logo-image logo-animated">
        					<img src="{% static 'assets/img/logos/logo.png' %}" alt="logo">
        				</a>
        				<!-- End of Logo Image -->
        			</div>
        			<div class="col-md-9 col-sm-6 col-xs-6">
        				<!-- Menu -->
        				<nav class="right helper">
        					<ul class="menu sf-menu js-menu menu-light">
        						<li>
        							<a href="#">Home
        								<span class="menu-label">NEW</span>
        							</a>
        							<ul>
        								<li>
        									<a href="#">One Page Docs</a>
        									<ul>
        										<li>
        											<a href="home-#">Static Header</a>
        										</li>
        										<li>
        											<a href="home-one-page-#">Sticky Header</a>
        										</li>
        									</ul>
        								</li>
        								<li>
        									<a href="#">Menu</a>
        									<ul>
        										<li>
        											<a href="#">Left - Off Canvas</a>
        										</li>
        										<li>
        											<a href="#">Right - Off Canvas</a>
        										</li>
        									</ul>
        								</li>
        								<li>
        									<a href="#">Static</a>
        									<ul>
        										<li>
        											<a href="#">Subscribe</a>
        										</li>
        										<li>
        											<a href="#">Web App</a>
        										</li>
        										<li>
        											<a href="home-#">Mobile App</a>
        										</li>
        										<li>
        											<a href="#">Software</a>
        										</li>
        									</ul>
        								</li>
        								<li>
        									<a href="#">Video</a>
        									<ul>
        										<li>
        											<a href="#">Background</a>
        										</li>
        										<li>
        											<a href="home-#">Trigger Simple</a>
        										</li>
        										<li>
        											<a href="home-web-#">Trigger Web</a>
        										</li>
        										<li>
        											<a href="home-app-#">Trigger App</a>
        										</li>
        										<li>
        											<a href="home-soft-#">Trigger Soft</a>
        										</li>
        									</ul>
        								</li>
        								<li>
        									<a href="#">Text Rotator</a>
        								</li>
        								<li>
        									<a href="home-#">With Preloader</a>
        								</li>
        							</ul>
        						</li>
        						<li>
        							<a href="#">Pages</a>
        							<ul>
        								<li>
        									<a href="#">Panels</a>
        								</li>
        								<li>
        									<a href="#">Blog</a>
        									<ul>
        										<li>
        											<a href="#">Blog Grid</a>
        										</li>
        										<li>
        											<a href="#">Blog List</a>
        										</li>
        										<li>
        											<a href="#">Article</a>
        										</li>
        									</ul>
        								</li>
        								<li>
        									<a href="#">Faq</a>
        								</li>
        								<li>
        									<a href="#">Notification</a>
        								</li>
        								<li>
        									<a href="#">Tutorial</a>
        								</li>
        								<li>
        									<a href="#">Login</a>
        								</li>
        								<li>
        									<a href="#">Register</a>
        								</li>
        								<li>
        									<a href="#">404 Error</a>
        								</li>
        							</ul>
        						</li>
        						<li>
        							<a href="#">Elements</a>
        							<ul>
        								<li>
        									<a href="#">Buttons</a>
        								</li>
        								<li>
        									<a href="#">Boxes</a>
        								</li>
        								<li>
        									<a href="#">Code</a>
        								</li>
        								<li>
        									<a href="#">Visual guide</a>
        								</li>
        								<li>
        									<a href="#">Notes</a>
        								</li>
        								<li>
        									<a href="#">File tree</a>
        								</li>
        								<li>
        									<a href="#">Media</a>
        								</li>
        								<li>
        									<a href="#">Book</a>
        								</li>
        								<li>
        									<a href="#">Steps & Tabs</a>
        								</li>
        								<li>
        									<a href="#">Misc</a>
        								</li>
        							</ul>
        						</li>
        						<li>
        							<a href="#">Layouts</a>
        							<ul>
        								<li>
        									<a href="#">Views without sidebar</a>
        								</li>
        								<li>
        									<a href="#">Views left sidebar</a>
        								</li>
        								<li>
        									<a href="#">Views right sidebar</a>
        								</li>
        								<li>
        									<a href="#">Full left sidebar</a>
        									<ul>
        										<li>
        											<a href="views-#">Regular</a>
        										</li>
        										<li>
        											<a href="views-left-#">Compact</a>
        										</li>
        									</ul>
        								</li>
        								<li>
        									<a href="#">Full right sidebar</a>
        									<ul>
        										<li>
        											<a href="views-#">Regular</a>
        										</li>
        										<li>
        											<a href="views-right-#">Compact</a>
        										</li>
        									</ul>
        								</li>
        							</ul>
        						</li>
        						<li>
        							<a href="{% url 'documentation' %}">Docs</a>
        						</li>
        						<li>
        							<a href="#">Contacts</a>
        						</li>
        					</ul>
        				</nav>
        				<!-- End of Menu -->
        			</div>
        		</div>
        	</div>
        </div>
        <!-- End of Header -->
        {% block content %}
        {% endblock content%}
      </div>
  	<script src="{% static 'assets/js/preprod/vendor.js' %}"></script>
  	<script src="{% static 'assets/js/preprod/modules.js' %}"></script>
  	<script src="{% static 'assets/js/preprod/custom.js' %}"></script>
    </body>
</html>
